.sidebar {
    width: 240px;
    background: #afbde8;
    color: hsl(0, 0%, 100%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;

}

.logo {
    margin-bottom: 30px;
}

.navLinks {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.link {

    display: block;
    padding: 10px;
    color: #0e0d0d;
    text-decoration: none;
    border-radius: 6px;


}

.link:hover {
    background: #B88E2F;
    color: white;
}

.active {
    background: #b88e2f;
    color: white;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.logoutBtn {
    margin-top: auto;
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 10px;
    background: #3b4a7b;
    color: #fff;
    cursor: pointer;
}

.logoutBtn:hover {
    background: #2f3d68;
}